/* Keyframes */
@keyframes animacaobt{
  0% {background-color: orange;}
  25% {background-color: rgb(95, 129, 2);}
  50% {background-color: yellow;}
  100% {background-color: green;} 
}
@keyframes verde{
  from {color: #d3dedaa1;}
  to {color: rgb(0, 187, 0);}
}
@keyframes titulos{
  from {color: white;}
  to {color: rgb(143, 143, 143);}
}
@keyframes criador{
  from {color: rgb(187, 187, 187);}
  to {color: rgb(49, 49, 49)}
}
@keyframes rainbow {
  0% {color: violet;}
  14% {color: indigo;} 
  30% {color: blue;} 
  44% {color: green;}
  60% {color: yellow;} 
  80% {color: orange;} 
  100% {color: red;}
}
@keyframes border {
  25% {border-top-color: #010001;
      border-right-color: rgb(26, 87, 2);
      border-bottom-color: #010001;
      border-left-color: #ff5e00;
  }
  50% {border-top-color: #ff5e00;
      border-right-color: #010001;
      border-bottom-color:rgb(26, 87, 2);
      border-left-color: #010001;
  }
  75% {border-top-color:#010001;
      border-right-color:  #ff5e00;
      border-bottom-color: #010001;
      border-left-color: rgb(26, 87, 2);
  }
  100% {border-bottom-color: #ff5e00;
      border-top-color: rgb(26, 87, 2);
      border-left-color: #010001;
      border-right-color: #010001;
  }
}
/*  Inicio da estilização do menu*/

body {
    padding-top: 90px !important;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  a {text-decoration: none;}
  
  .container {
    margin-left: 15px;
    width: 1350px; 
  }
  
  ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  nav {
    background: #010001;
    border-bottom: 2px #fff solid;
    z-index: 3;
    font-size: 0;
    width:auto;
    top: 0;  
    position: fixed;
  }
  nav > ul > li {
    display: inline-block;
    font-size: 14px;
    padding: 1px 15px;
    position: relative;
  }
  
  nav > ul > li > a {
    color: #fff;
      display: block;
      padding: 20px 0;
      border-bottom: 3px solid transparent;
      transition: all .3s ease;
  } 
  nav > ul > li:hover > a {
    color: #80cc26; 
      border-bottom: 3px solid #80cc26;
      
  }
  
  .mega-menu {
    background: #333;
      visibility: hidden;
      opacity: 0;
      transition: visibility 1s, opacity 0.5s linear;
      position: absolute;
      left: 0;
      width: 150px;
      padding: 10px;
      
  }
  .mega-menu h3 {color: #e3deda}
  
  .mega-menu .container {
      display:inline;
      padding: 10px;
  }
  .mega-menu .item {
    flex-grow: 1;
      margin: 0 10px;
    font-size: medium;
  }
  .mega-menu .item img {
      width: 100%;
  }
  .mega-menu a {
    border-bottom: 1px solid rgb(78, 78, 78);
    color: #4ea3d8;
    display:inline;
    padding: 1px 0;
  }
  .mega-menu a:hover {color: #2d6a91;}
  
  
  .dropdown {
    position:relative;
    text-indent: 0%;
  }
  
  .dropdown:hover .mega-menu {
      visibility: visible;
      opacity: 1;
      z-index: 2;
  }

/* fim da estilização do menu*/

/* Body 1 - inicio*/
  .body1{
    width: 100%;
    height: 100%;
    padding-bottom: 81px;
    background-color:rgb(17, 17, 17);
    border-bottom: 6px solid #ff5e00;
  }
  .body1 h1{
    color: white;
    height: 10px;
    padding-top: 30px;
    font-size: 25px;
    width: 350px;
    margin-left: 34%;
  }
  .lightDiv{
    margin-left: 150px;
    margin-top: 50px;
    padding: 3px;
    width: 200px;
    height: 300px;
    background-color: rgb(8, 8, 8);
    color: rgb(228, 228, 228);
    text-decoration: none;
    border: #ffffff56 2px solid;
    border-radius: 5px;
    display: inline-block;
    text-align:center;
  }
  .lightDiv a{text-decoration: none; color: rgb(228, 228, 228);}
  .lightDiv i{color: #ff5e00;
  margin: auto;
  margin-top: 25%;}

  .imgLightDiv {
    width: 200px;
    height: 150px;
    background-color: black;
    border: none;
    margin-bottom: 0%;
  }
  .body1 .fa-angle-down{
    opacity: 10;
    font-size: 30px;
    margin-top: 520px;
    margin-left: 130px;
    position: absolute;
    color: white;
    animation-name: verde;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: 2; 
  }

  .msgs{
    width: 100%;
    height: 350px;
    margin-top: 0px;
  }
  .hM{
    transform: rotate(90deg);
    display: inline-block;
    color: rgba(0, 0, 0, 0.527);
    font-size: 20px;
    height: 20px;
    width: 250px;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: #ff5e009d;
  }
  .desafioDia{
    width: 350px;
    height:300px;
    padding: 40px;
    margin-bottom: 40px;
    margin-top: 80px;
    color: rgb(20, 20, 20);
    display: inline-block;
    text-align: center;
    margin-left: 90px;
    border-width: 5px;
    border-style:dotted;
    animation-name: border;
      animation-duration: 4s;
      animation-direction:alternate-reverse;
      animation-iteration-count: infinite;
  }
  .citacaoDia{
    width: 350px;
    height: 300px;
    padding: 30px;
    color: rgb(20, 20, 20);
    display:inline-block;
    text-align: center;
    margin-right: auto;
    border-width: 5px;
    border-style: dotted;
    animation-name: border;
      animation-duration: 4s;
      animation-direction:alternate-reverse;
      animation-iteration-count: infinite;
  }
 /* Body 1 - Fim */



 /* Footer - inicio*/ 
 .site-footer
{
  
  border-top: 5px solid rgb(148, 148, 148);
  font-size:smaller;
  margin-top: 200px;
  background-color: rgb(12, 12, 12);
  padding:45px 0 20px;
  font-size:15px;
  color:#c2c2c2;
  width:100%;
  text-align: center;
}
.container-footer{
  width: 100%;
}
.site-footer hr
{
  opacity:0.5
  
}
.site-footer hr.small
{
  margin:30px 0
  
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:2px;
  letter-spacing:1px
  
}
.link-redes{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  background: linear-gradient(45deg, rgb(255, 123, 0), rgb(255, 170, 73));
  text-align: center;
  font-size: 20px;
  opacity: 1;
  
}
.link-redes:hover{
  cursor: pointer;
  width: 43px;
  height: 43px;
  border-radius: 22px;
  font-size: 22px;
  transition: 350ms;
}

.copyright-text
{
  color:rgb(65, 65, 65);
  margin:0;
}

#direitos{
  text-align: center;
  font-size: smaller;
}

#dev{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: smaller;
  text-align: center;
}
.copyright-text{
  text-align: center;
}
/* Footer-fim*/






